@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: #f9c74f;
  font-family: "Roboto", sans-serif;
  color: white;
}

.container {
  /*  grid-column: 1/-1;
  height: 41.875rem;
  width: 59.375rem; */
  margin: 1rem auto;
}

#game-title {
  text-align: center;
  font-size: 2.5rem;
}

.memory-game {
  display: flex;
  display: grid;
  grid-template-columns: repeat(6, auto);
  /* 3d effect */
  perspective: 62.5rem;
}

.memory-card {
  margin: 5px;
  height: 10rem;
  width: 9.375rem;
  position: relative;
  transition: ease;
  /* 3d effect */
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #f94144;
  /* Göm baksidan */
  backface-visibility: hidden;
}

.front-face {
  /* flippa 180 för att se front face */
  transform: rotateY(180deg);
}

/************* MUHANNAD'S DEL PÅBÖRJAR ************/

.info-container {
  background-color: #f9c74f;

  padding: 20px;
  font-size: 24px;
  overflow: hidden;

  line-height: 3rem;
}

.name,
.player-moves,
.timer,
.player-score {
  border-radius: 8px;
  background: linear-gradient(rgb(147, 202, 233), rgb(40, 145, 206));
  margin-top: 1rem;
  text-align: center;

  color: white;
  box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.58);
}

.restart {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.reset-all {
  padding: 15px 25px;
  margin-top: 2rem;

  border-radius: 8px;

  font-weight: bold;
  box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.58);
  border-style: none;
  background: linear-gradient(rgba(147, 202, 233, 0.986), rgb(40, 145, 206));
  color: white;
  font-size: 1rem;
}

.control-button {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.control-button button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 200px;
  padding: 5px 15px;
  background: linear-gradient(rgb(147, 202, 233), rgb(40, 145, 206));
  color: white;

  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-radius: 7px;

  border-style: none;
  box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.58);
}

/************* MUHANNAD'S DEL SLUTAR ************/
